<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-model</title>
    <script src="../assets/js/vue.js"></script>
</head>
<body>
<h1>v-model实例</h1>
<hr>
<div id="app">
    <p>原始数据信息:{{message}}</p>
    <h3>文本框</h3>
    <p>v-model<input type="text" v-model="message"></p>
    <!--<p>v-model.lazy<input type="text" v-model.lazy="message"></p>-->
    <!--<p>v-model.number<input type="text" v-model.number="message"></p>-->
    <!--<p>v-model.trim<input type="text" v-model.trim="message"></p>-->
    <hr>
    <h3>文本域</h3>
    <textarea name="" id="" cols="30" rows="10" v-model="message"></textarea>
    <hr>
    <h3>多选框绑定一个值</h3>
    <input type="checkbox" id="is" v-model="isTrue">
    <label for="is">{{isTrue}}</label>
    <hr>
    <h3>多选框绑定一个数组</h3>
    <p>
        <input type="checkbox" id="ispang" v-model="web_names" value="jspang">
        <label for="ispang">jspang</label>
        <input type="checkbox" id="panda" v-model="web_names" value="panda">
        <label for="panda">panda</label>
        <input type="checkbox" id="panpan" v-model="web_names" value="panpan">
        <label for="panpan">panpan</label>
        <p>{{web_names}}</p>
    </p>
    <hr>
    <h3>单选框绑定</h3>
    <p>
        <input type="radio" id="one" value="男" v-model="sex">
        <label for="one">男</label>
        <input type="radio" id="two" value="女" v-model="sex">
        <label for="two">女</label>
        <p>您选择的性别是: {{sex}}</p>
    </p>
</div>



<script>
    var app=new Vue({
        el:"#app",
        data:{
            message:"hello world",
            isTrue:true,
            web_names:[],
            sex:'男'
        }
    })
</script>
</body>
</html>